**Write a Python Program to calculate the length of a string given**

string  = 'Goods and Prices'

In [1]:
len('Goods and Prices') # to calculate the length of the string

16

**How would you check the Python version you are using in your system ?. Write the code.**

In [2]:
import sys # importing the module to check the version
sys.version #command to check the version

'3.8.3 (default, Jul  2 2020, 11:26:31) \n[Clang 10.0.0 ]'

**Take the first name and last name from the user and get the last name printed first and the first in the last.**

In [3]:
first_name = input("enter the first name :") # to input first value
last_name = input("enter the last name :") # to input last value
print(""+last_name +" " +first_name) # methord

enter the first name :vishnu
enter the last name :dinesh
dinesh vishnu

**Lets Say num = 5 , Now calculate the the vaule of ( num  - cube + num - square + num ) using Operators**

In [17]:
num = 5
print("the value is :",( (num ** 4) +(num ** 2) + num))

the value is : 655

**Take 3 integer inputs from the user and return the sum of all the numbers to the user.**

In [5]:
integer1 = int(input("enter the first integer :")) # input 1st num
integer2 = int(input("enter the second integer :")) # input 2nd num
integer3 = int(input("enter the third integer :")) # input 3rd num
print("Your sum of all the number are :" , (integer1+integer2+integer3) ) # printing the sum

enter the first integer :10
enter the second integer :20
enter the third integer :30
Your sum of all the number are : 60

**Suppose x and y are the two variables having some values, and x-y = 5 and so does the x + y . Then Find the value of ( x-square  -   y-square ).**

In [18]:
# taking x=7 and y=2 as x-y = 5
x = 7
y = 2
print("value is :",((x**2)-(y**2)))

value is : 45

**Convert the following types to Integer Datatype**

**Numbers :** 45.3, -0, 2.85, 05.45, 23.6

In [10]:
# lets input the numbers
num1 = 45.3 
num2 = -0
num3 = 2.85
num4 = 05.45
num5 = 23.63

# now lets see the type of all values
print("class of values :",type(num1),type(num2),type(num3),type(num4),type(num5),sep ='\n')

#now lets do type casting to integer
num1 = int(num1) 
num2 = int(num2) 
num3 = int(num3)
num4 = int(num4)
num5 = int(num5)
print("new integer type :",num1,num2,num3,num4,num5,sep = '\n')

class of values :
<class 'float'>
<class 'int'>
<class 'float'>
<class 'float'>
<class 'float'>
new integer type :
45
0
2
5
23

**Which of the following is a variable and which of the following in a String ?. Discuss**

In [ ]:
"""
VARIABLE: A variable is something that holds a value that may change. In simple way, a variable is just a box that you           can put any values in it.
  example : 
        
        marks = 100
        print(marks)
        
        here marks is avariable which can hold a value and the value for marks is 100

STRING : A string is simply a list of characters in order or a sequence of character,A character is anything you can            type on the keyboard in one keystroke, like a letter, a number, or a backslash
   example:
       
       str1 = 'my name is vishnu dinesh'      # single quotes
       str2 = "my name is vishnu dinesh"      # double quotes
       str2 = """ my name is vishnu dinesh""" # triple quotes
 """

**Name the Data Types learnt till now in Python**

In [ ]:
# number - int,float,double,long
# string
# list
# set
# tuple
# dictionary
# bool

**What does the variable contain after the following code runs?**

variable = 20
variable + 1

In [ ]:
# after executing the code the code will be incremented / added by one # the value will be = 21

**What will the two expressions will evaluate**?

'expression_1' + 'expression_2'
'expression_1' * 3

In [ ]:
# in first code  = expression_1 and expression_2 will be concatinated /added # "expression_1expression_2"
# in second code = expression_1 will be printed thrice " * 3"  # "expression_1expression_1expression_1"

**Why x is a Valid variable and 100 is invalid ?**

In [ ]:
# a variable is something that holds value 
# a number is '100' is not a variable its a value
# x is a variable which can hold a value even '100'

**Why does the statement caiuse an error ?**

 print('Artificial Intelligence was first coined in the year = ' + 1999)

In [ ]:
# it will print a type error
# in concatination process a string can only be concatinated to a string ,here 1999 is an integer
# we can convert 1999 integer to string '1999' and do concatination

Notebook created by: <a href = "https://www.linkedin.com/in/sumitkumarshukla/">Sumit Kumar Shukla</a>